body{
    background-color: var(--black-color);
    height: 100vh;

    display: grid;
    grid: 'cabecalho'
          'principal'
          'rodape';
    /* place-items: center; */
}

/* HEADER */
.header{
    grid-area: cabecalho;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    width: 100%;
    padding: 1rem 0 0 0;
    border-bottom: solid 0.1rem var(--white-color);
}

.header .logo-image img{
    width: 60%;
}

.header .menu{
    display: flex;
    margin-right: 4rem;
    font-family: 'bebas', sans-serif; 
}

.header .menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.header .menu li a{
    padding: 0.8rem 1.2rem;
}

.header .menu li a:hover{
    color: var(--dark-red-color);
    background-color: #312260;
    border-radius: 2rem;
}

/* CONTAINER */
.container{
    background: url(../images/background-general/stars-8.png) no-repeat;
    background-size: cover;
    /* border-top: solid 0.1rem var(--white-color);
    border-bottom: solid 0.1rem var(--white-color); */

    grid-area: principal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    gap: 4rem;
}

.container .gener-title{
    font-size: 2.6rem;
    color: var(--light-red-color);
}

/* ADVENTURE MOVIES */
.adventure-movies{
    background: url(../images/background-movies/death-star.jpg) no-repeat;
    background-size: cover;
}

.action-movies{
    background: url(../images/background-movies/marvel-background.jpg) no-repeat;
    background-size: cover;
}

.adventure-movies, .action-movies{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 40rem;
    height: 27rem;
    border: solid 0.1rem var(--white-color);
    transition: 0.5s ease-in-out;
}

.adventure-slider, .action-slider{
    position: absolute;
    display: flex;
    gap: 5rem;
}

.adventure-image, .action-image{
    width: 16rem;
    height: 22rem;
}

/* ARROW's */
.back-arrow, .forward-arrow{
    z-index: 1;

    background: transparent;
    border: transparent;
}

.back-arrow{
    transform: rotateY(180deg);
    left: 4%;
}

.forward-arrow{
    right: 4%;
}

.arrow-image{
    width: 4rem;
    height: 4rem;
}

.opacity{
    opacity: 0.6;
    cursor: default;
}

.back-arrow:not(.opacity):hover, .forward-arrow:not(.opacity):hover{
    cursor: pointer;
}

/* FOOTER */
.footer{
    grid-area: rodape;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top: solid 0.1rem var(--white-color);
    padding: 4rem 0 2rem 0;
}

.footer .footer-menu{
    display: flex;
    font-family: 'bebas', sans-serif; 
}

.footer .footer-menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.footer .footer-menu li a{
    padding: 0.8rem 1.2rem;
}

.footer .footer-menu li a:hover{
    color: var(--dark-red-color);
}

/* MEDIA */
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0 3rem 0;
}

.contacts .social{
    margin-right: 10rem;
}

.contacts .social p{
    padding: 0.5rem 0;
}

.contacts .social .email{
    font-size: 1.7rem;
    color: var(--white-color);
}

.contacts .social .telephone{
    font-size: 1.7rem;
    color: var(--white-color);
}

.contacts .social-media .nets{
    display: flex;
    flex-direction: column;
}

.contacts .social-media .nets li{
    font-size: 1.7rem;
    padding: 0.5rem 0;
}

.contacts .social-media .nets li a:hover{
    color: var(--dark-red-color);
}